@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .container{
        max-width:1288px;
    }
    .card{
        border-radius:15px;
    }
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<div class="container-fluid pt-1 px-4">
    <div class="row">
        <div class="col col-lg-12 col-xl-12 d-flex justify-content-center align-items-center">
            <h1>Clientes</h1>
        </div>
        <div class="row">
            <div class="col-md-12 p-1">
                <a class="btn btn-primary" asp-controller="Cliente" asp-action="Create">Novo Cliente</a>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-md-12 rounded bg-light w-100 p-4">
                <table id="table_id" class="display responsive nowrap ">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Telefone</th>
                            <th>Cidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cliente Teste</td>
                            <td>00000000000</td>
                            <td>99999999999</td>
                            <td>Cidade teste</td>
                        </tr>
                        <tr>
                            <td>Cliente Teste</td>
                            <td>00000000000</td>
                            <td>99999999999</td>
                            <td>Cidade teste</td>
                        </tr>
                        <tr>
                            <td>Cliente Teste</td>
                            <td>00000000000</td>
                            <td>99999999999</td>
                            <td>Cidade teste</td>
                        </tr>
                        <tr>
                            <td>Cliente Teste</td>
                            <td>00000000000</td>
                            <td>99999999999</td>
                            <td>Cidade teste</td>
                        </tr>
                        <tr>
                            <td>Cliente Teste</td>
                            <td>00000000000</td>
                            <td>99999999999</td>
                            <td>Cidade teste</td>
                        </tr>
                        <tr>
                            <td>Cliente Teste</td>
                            <td>00000000000</td>
                            <td>99999999999</td>
                            <td>Cidade teste</td>
                        </tr>
                        <tr>
                            <td>Cliente Teste</td>
                            <td>00000000000</td>
                            <td>99999999999</td>
                            <td>Cidade teste</td>
                        </tr>
                        <tr>
                            <td>Cliente Teste</td>
                            <td>00000000000</td>
                            <td>99999999999</td>
                            <td>Cidade teste</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready(function () {
                $.noConflict();
                $('#table_id').DataTable({
                    responsive: true,
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/pt-BR.json'
                    }
                });
               
            });

        </script>
</div>
