* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: "Poppins", sans-serif !important;
}

.sidebarMenu {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    height: 100% !important;
    width: 78px !important;
    background: #11101D !important;
    padding: 6px 14px !important;
    z-index: 99 !important;
    transition: all 0.5s ease !important;
}

    .sidebarMenu.open {
        width: 250px !important;
    }

    .sidebarMenu .logo-details {
        height: 60px !important;
        display: flex !important;
        align-items: center !important;
        position: relative !important;
    }

        .sidebarMenu .logo-details .icon {
            opacity: 0 !important;
            transition: all 0.5s ease !important;
        }

        .sidebarMenu .logo-details .logo_name {
            color: #fff !important;
            font-size: 20px !important;
            font-weight: 600 !important;
            opacity: 0 !important;
            transition: all 0.5s ease !important;
        }

    .sidebarMenu.open .logo-details .icon,
    .sidebarMenu.open .logo-details .logo_name {
        opacity: 1 !important;
    }

    .sidebarMenu .logo-details #btn {
        position: absolute !important;
        top: 50% !important;
        right: 0 !important;
        transform: translateY(-50%) !important;
        font-size: 22px !important;
        transition: all 0.4s ease !important;
        font-size: 23px !important;
        text-align: center !important;
        cursor: pointer !important;
        transition: all 0.5s ease !important;
    }

    .sidebarMenu.open .logo-details #btn {
        text-align: right !important;
    }

    .sidebarMenu i {
        color: #fff !important;
        height: 60px !important;
        min-width: 50px !important;
        font-size: 28px !important;
        text-align: center !important;
        line-height: 60px !important;
    }

    .sidebarMenu .nav-list {
        margin-top: 20px !important;
        height: 100% !important;
    }

    .sidebarMenu li {
        position: relative !important;
        margin: 8px 0 !important;
        list-style: none !important;
    }

        .sidebarMenu li .tooltip {
            position: absolute !important;
            top: -20px !important;
            left: calc(100% + 15px) !important;
            z-index: 3 !important;
            background: #fff !important;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3) !important;
            padding: 6px 12px !important;
            border-radius: 4px !important;
            font-size: 15px !important;
            font-weight: 400 !important;
            opacity: 0 !important;
            white-space: nowrap !important;
            pointer-events: none !important;
            transition: 0s !important;
        }

        .sidebarMenu li:hover .tooltip {
            opacity: 1 !important;
            pointer-events: auto !important;
            transition: all 0.4s ease !important;
            top: 50% !important;
            transform: translateY(-50%) !important;
        }

    .sidebarMenu.open li .tooltip {
        display: none !important;
    }

    .sidebarMenu input {
        font-size: 15px !important;
        color: #FFF !important;
        font-weight: 400 !important;
        outline: none !important;
        height: 50px !important;
        width: 100% !important;
        width: 50px !important;
        border: none !important;
        border-radius: 12px !important;
        transition: all 0.5s ease !important;
        background: #1d1b31 !important;
    }

    .sidebarMenu.open input {
        padding: 0 20px 0 50px !important;
        width: 100% !important;
    }

    .sidebarMenu .bx-search {
        position: absolute !important;
        top: 50% !important;
        left: 0 !important;
        transform: translateY(-50%) !important;
        font-size: 22px !important;
        background: #1d1b31 !important;
        color: #FFF !important;
    }

    .sidebarMenu.open .bx-search:hover {
        background: #1d1b31 !important;
        color: #FFF !important;
    }

    .sidebarMenu .bx-search:hover {
        background: #FFF !important;
        color: #11101d !important;
    }

    .sidebarMenu li a {
        display: flex !important;
        height: 100% !important;
        width: 100% !important;
        border-radius: 12px !important;
        align-items: center !important;
        text-decoration: none !important;
        transition: all 0.4s ease !important;
        background: #11101D !important;
    }

        .sidebarMenu li a:hover {
            background: #FFF !important;
        }

        .sidebarMenu li a .links_name {
            color: #fff !important;
            font-size: 15px !important;
            font-weight: 400 !important;
            white-space: nowrap !important;
            opacity: 0 !important;
            pointer-events: none !important;
            transition: 0.4s !important;
        }

    .sidebarMenu.open li a .links_name {
        opacity: 1 !important;
        pointer-events: auto !important;
    }

    .sidebarMenu li a:hover .links_name,
    .sidebarMenu li a:hover i {
        transition: all 0.5s ease !important;
        color: #11101D !important;
    }

    .sidebarMenu li i {
        height: 50px !important;
        line-height: 50px !important;
        font-size: 18px !important;
        border-radius: 12px !important;
    }

    .sidebarMenu li.profile {
        position: fixed !important;
        height: 60px !important;
        width: 78px !important;
        left: 0 !important;
        bottom: -8px !important;
        padding: 10px 14px !important;
        background: #1d1b31 !important;
        transition: all 0.5s ease !important;
        overflow: hidden !important;
    }

    .sidebarMenu.open li.profile {
        width: 250px !important;
    }

    .sidebarMenu li .profile-details {
        display: flex !important;
        align-items: center !important;
        flex-wrap: nowrap !important;
    }

    .sidebarMenu li img {
        height: 45px !important;
        width: 45px !important;
        object-fit: cover !important;
        border-radius: 6px !important;
        margin-right: 10px !important;
    }

    .sidebarMenu li.profile .name,
    .sidebarMenu li.profile .job {
        font-size: 15px !important;
        font-weight: 400 !important;
        color: #fff !important;
        white-space: nowrap !important;
    }

    .sidebarMenu li.profile .job {
        font-size: 12px !important;
    }

    .sidebarMenu .profile #log_out {
        position: absolute !important;
        top: 50% !important;
        right: 0 !important;
        transform: translateY(-50%) !important;
        background: #1d1b31 !important;
        width: 100% !important;
        height: 60px !important;
        line-height: 60px !important;
        border-radius: 0px !important;
        transition: all 0.5s ease !important;
    }

    .sidebarMenu.open .profile #log_out {
        width: 50px !important;
        background: none !important;
    }

.home-section {
    position: relative !important;
    background: #E4E9F7 !important;
    min-height: 100vh !important;
    top: 0 !important;
    left: 78px !important;
    width: calc(100% - 78px) !important;
    transition: all 0.5s ease !important;
    z-index: 2 !important;
}

.sidebarMenu.open ~ .home-section {
    left: 250px !important;
    width: calc(100% - 250px) !important;
}

.home-section .text {
    display: inline-block !important;
    color: #11101d !important;
    font-size: 25px !important;
    font-weight: 500 !important;
    margin: 18px
}

@media (max-width: 420px) {
    .sidebarMenu li .tooltip {
        display: none !important;
    }
}
